.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-header.with-margin {
  margin-bottom: 2rem;
}

.game-area {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}